@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
}

body {
  @include font-smoothing(on);
  font: $base-text-size / 1 $base-font-family;
  background: #aca69b;
}

.header {
  border: 1px solid black;
  margin-top: 20px;
  background: #403e34;
}

h1.display-3.header1 {
  font-family: 'Chewy';
  text-align: center;
  font-size: 8em;
}

// #403e34
// #aca69B
// #cec4b8
// #46595f
// #b3ab99
