@import 'utility';

$base-text-size: 16px;
$base-font-family: sans-serif;

html {
  text-size-adjust: 100%;
  border: 5px solid #403e34;
  border-radius: 5px;
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

body {
  @include font-smoothing(on);
  font: $base-text-size / 1 $base-font-family;
  background: #aca69b;
}

.header {
  border: 1em solid #cec4b8;
  margin-top: 20px;
  background: #46595f;
  border-radius: 5em;
}

h1.display-3.header1 {
  font-family: 'Chewy';
  text-align: center;
  font-size: 7em;
  color: white;
}

// #403e34
// #aca69B
// #cec4b8
// #46595f
// #b3ab99
